@font-face {
    src: url(fonts/BebasNeue.woff);
    font-family: "bebasNeue";
}

@font-face {
    src: url(fonts/Roboto.woff);
    font-family: "Roboto";
}

body {
    background-color: #f8f9fa;
}

li>a {
    font-family: bebasNeue;
}

border-0 {
    border: 0;
}

@media screen and (min-width: 100px) {
    .img-sm {
        width: 50%;
    }
    .margin-auto {
        text-align: center;
        margin: auto;
    }
}

@media screen and (max-width: 576px) {
    .new-width {
        width: 75%;
    }
}

@media screen and (min-width: 576px) {
    .img-sm {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .img-lg {
        width: 590%;
    }
}

@media screen and (min-width: 992px) {
    .img-lg {
        width: 200%;
    }
}

@media screen and (max-width: 992px) {
    .center-top {
        text-align: center;
        margin: auto;
    }
}

footer p {
    text-align: center;
    color: #b2bec3;
    font-size: 12px;
    margin-top: 60px;
}